.rich-editor-container {
  border: 1px solid var(--color-gray-border);
  border-radius: 4px;
  padding: 12px;
  background-color: var(--color-white);
  min-height: 200px;
}

.rich-editor-container .codex-editor__redactor {
  padding-bottom: 20px !important;
}
