.cmec-titulo {
  color: #333333;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 2rem;
  line-height: 1;
}

.cmec-subtitulo {
  color: #333333;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.cmec-banner {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 24px;
  object-fit: cover;
}

.cmec-link {
  color: #00509E;
  text-decoration: none;
  font-weight: bold;
}

.cmec-link:hover {
  text-decoration: underline;
}

.cmec-galeria {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  flex-wrap: wrap;
}

.cmec-galeria img {
  flex: 1 1 300px; /* Cresce e encolhe, tamanho base de 300px */
  border-radius: 8px;
  max-width: 100%;
}